{
    "swagger": "2.0",
    "info": {
        "title": "Hermes API",
        "description": "API del Sistema de Gestión Comercial Hermes",
        "version": "1.0.0"
    },
    "host": "hermes.api",
    "schemes": [
        "http"
    ],
    "basePath": "/api",
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "securityDefinitions": {
        "ApiKeyAuth": {
            "description": "Token de acceso JWT. Prefijo = Bearer",
            "type": "apiKey",
            "in": "header",
            "name": "Authorization"
        }
    },
    "security": [
        {
            "ApiKeyAuth": []
        }
    ],
    "tags": [
        {
            "name": "Autenticacion"
        },
        {
            "name": "Articulos"
        },
        {
            "name": "Bancos"
        },
        {
            "name": "Clientes"
        },
        {
            "name": "Comprobantes"
        },
        {
            "name": "Comprobantes Compra"
        },
        {
            "name": "Cuentas Bancarias"
        },
        {
            "name": "Cuenta Corriente Cliente"
        },
        {
            "name": "Cuenta Corriente Proveedor"
        },
        {
            "name": "Libro Iva"
        },
        {
            "name": "Lista de Precios"
        },
        {
            "name": "Localidades"
        },
        {
            "name": "Marcas"
        },
        {
            "name": "Parametros"
        },
        {
            "name": "Periodos Fiscales"
        },
        {
            "name": "Proveedores"
        },
        {
            "name": "Provincias"
        },
        {
            "name": "Regimen de informacion de ventas"
        },
        {
            "name": "Resumen de ventas"
        },
        {
            "name": "Rubros"
        },
        {
            "name": "Subrubros"
        },
        {
            "name": "Tipo Categoria Clientes"
        },
        {
            "name": "Tipo Comprobantes"
        },
        {
            "name": "Tipo Retenciones"
        },
        {
            "name": "Tipos de Tarjeta"
        },
        {
            "name": "Usuarios"
        },
        {
            "name": "Zonas"
        }
    ],
    "paths": {
        "/login": {
            "post": {
                "tags": [
                    "Autenticacion"
                ],
                "security": [],
                "summary": "Inicio de sesión user+password",
                "description": "El endpoint login es utilizado para el inicio de sesión de los usuarios  con su username, contraseña y empresa. La respuesta devuelve un token válido por 60 mins, que es requerido en las llamadas a la API, además devuelve la información del usuario. El token puede ser refrescado durante un período de 2 semanas siempre y cuando no haya expirado y no haya sido invalidado.\n",
                "parameters": [
                    {
                        "name": "user",
                        "in": "body",
                        "description": "Usuario, constraseña y empresa del usuario a autenticar",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "username": {
                                    "type": "string",
                                    "description": "username del usuario a autenticar"
                                },
                                "password": {
                                    "type": "string",
                                    "format": "password",
                                    "description": "contraseña del usuario a autenticar"
                                },
                                "tenant": {
                                    "type": "string",
                                    "description": "nombre de la empresa del usuario a autenticar"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación exitosa",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "token": {
                                    "type": "string",
                                    "description": "token necesario a enviar en las llamadas a la API mediante el header Authorization, con 'Bearer ' + token"
                                },
                                "user": {
                                    "$ref": "#/definitions/Usuario"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Usuario o contraseña inválidos"
                    },
                    "500": {
                        "description": "Error del servidor"
                    }
                }
            }
        },
        "/refreshToken": {
            "post": {
                "tags": [
                    "Autenticacion"
                ],
                "summary": "Refrescar token",
                "description": "El endpoint refreshToken es utilizado para refrescar el token, aumentando su periodo de validez. El token que se usó para llamar al método será invalidado, con un período de gracia de 30 segundos. La respuesta devuelve un token válido por 60 mins. Se puede refrescar el token mientras el período de refresco de 2 semanas del token original no haya vencido y el token sea válido.\n",
                "responses": {
                    "200": {
                        "description": "Operación exitosa",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "token": {
                                    "type": "string",
                                    "description": "token"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/logout": {
            "post": {
                "tags": [
                    "Autenticacion"
                ],
                "summary": "Invalidar token",
                "description": "El endpoint logout es utilizado para invalidar el token, haciendo que se denieguen las siguientes peticiones que se realizen con el mismo, con un periodo de gracia de 30 segundos. Se requiere que el token sea válido antes de anularlo.\n",
                "responses": {
                    "200": {
                        "description": "Operación exitosa",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "default": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/password/forgot": {
            "post": {
                "tags": [
                    "Usuarios"
                ],
                "summary": "Enviar código de recuperación de contraseña",
                "description": "El endpoint es utilizado para enviar un código necesario para reestablecer la contraseña del usuario correspondiente al email y empresa pasados como parámetro. El email debe pertenecer a un usuario registrado en el sistema en esa empresa.\n",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "email": {
                                    "description": "email del usuario",
                                    "type": "string"
                                },
                                "tenant": {
                                    "description": "empresa del usuario",
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación exitosa",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Error en el email recibido",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "default": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/password/reset": {
            "post": {
                "tags": [
                    "Usuarios"
                ],
                "summary": "Establecer una nueva contraseña",
                "description": "El endpoint es utilizado para reestablecer la contraseña del usuario. Se debe proveer el token recibido por mail, el email, la nueva contraseña y la empresa.\n",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "token": {
                                    "description": "codigo recibido por mail para la operación",
                                    "type": "string"
                                },
                                "email": {
                                    "description": "email del usuario a reestablecer la contraseña",
                                    "type": "string"
                                },
                                "password": {
                                    "description": "nueva contraseña del usuario",
                                    "type": "string"
                                },
                                "tenant": {
                                    "description": "empresa del usuario",
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación exitosa",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Error en el email recibido",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "default": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/articulos": {
            "get": {
                "tags": [
                    "Articulos"
                ],
                "summary": "Listar Artículos",
                "description": "El endpoint articulos devuelve información sobre todos los artículos en el sistema, incluyendo todos los detalles de los mismos. Se listan los artículos sin un orden específico. Se debe contar con permiso para ver artículos\n",
                "responses": {
                    "200": {
                        "description": "Un array de articulos",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Articulo"
                            }
                        }
                    },
                    "default": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Articulos"
                ],
                "summary": "Crear nuevo artículo",
                "description": "Crea un nuevo artículo y lo persiste en la base de datos. Se requiere contar con permiso para crear artículos.\n",
                "responses": {
                    "200": {
                        "description": "Nuevo artículo creado",
                        "schema": {
                            "$ref": "#/definitions/Articulo"
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/articulos/{id}": {
            "get": {
                "tags": [
                    "Articulos"
                ],
                "summary": "Artículo con el id proporcionado",
                "description": "Devuelve el artículo que se corresponde con el id pasado como parámetro. Se requiere contar con permiso para ver artículos.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Artículo",
                        "schema": {
                            "$ref": "#/definitions/Articulo"
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Articulos"
                ],
                "summary": "Actualiza los datos del artículo",
                "description": "Edita el artículo que se corresponde con el id pasado como parámetro. Se requiere contar con permiso para editar artículos.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "articulo",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Articulo"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Artículo con los datos actualizados",
                        "schema": {
                            "$ref": "#/definitions/Articulo"
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Articulos"
                ],
                "summary": "Borra un artículo",
                "description": "Borra el artículo que se corresponde con el id pasado como parámetro. Se requiere contar con permiso para borrar artículos.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada con éxito"
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/articulos/codigo/{codigo}": {
            "get": {
                "tags": [
                    "Articulos"
                ],
                "summary": "Artículo con el código proporcionado",
                "description": "Devuelve el artículo que se corresponde con el código pasado como parámetro. Se requiere contar con permiso para ver artículos.\n",
                "parameters": [
                    {
                        "name": "codigo",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Artículo",
                        "schema": {
                            "$ref": "#/definitions/Articulo"
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/articulos/nombre/{nombre}": {
            "get": {
                "tags": [
                    "Articulos"
                ],
                "summary": "Artículos con el nombre proporcionado",
                "description": "Devuelve los artículos que contienen el string pasado como parámetro en el campo nombre del artículo. Se requiere contar con permiso para ver artículos.\n",
                "parameters": [
                    {
                        "name": "nombre",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array de artículos",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Articulo"
                            }
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/articulos/buscar": {
            "get": {
                "tags": [
                    "Articulos"
                ],
                "summary": "Artículos filtrados por los parámetros",
                "description": "Devuelve los 10 primeros artículos que contienen el string de búsqueda en el campo nombre, codigo, rubro o subrubro del artículo. Además se filtra por marca, rubro y subrubro asociados. Se requiere contar con permiso para ver artículos.\n",
                "parameters": [
                    {
                        "name": "marca",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "rubro",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "subrubro",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "busqueda",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array de artículos",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Articulo"
                            }
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/bancos": {
            "get": {
                "tags": [
                    "Bancos"
                ],
                "summary": "Listar Bancos",
                "description": "El endpoint bancos devuelve información sobre todos los bancos en el sistema. Se listan los bancos sin un orden específico. Se debe contar con permiso para ver bancos.\n",
                "responses": {
                    "200": {
                        "description": "Un array de bancos",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Banco"
                            }
                        }
                    },
                    "default": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Bancos"
                ],
                "summary": "Crear nuevo banco",
                "description": "Crea un nuevo banco y lo persiste en la base de datos. Se requiere contar con permiso para crear bancos.\n",
                "responses": {
                    "200": {
                        "description": "Nuevo banco creado",
                        "schema": {
                            "$ref": "#/definitions/Banco"
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/bancos/{id}": {
            "get": {
                "tags": [
                    "Bancos"
                ],
                "summary": "Banco con el id proporcionado",
                "description": "Devuelve el banco que se corresponde con el id pasado como parámetro. Se requiere contar con permiso para ver bancos.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Banco",
                        "schema": {
                            "$ref": "#/definitions/Banco"
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Bancos"
                ],
                "summary": "Actualiza los datos del banco",
                "description": "Edita el banco que se corresponde con el id pasado como parámetro. Se requiere contar con permiso para editar bancos.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "banco",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Banco"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Banco con los datos actualizados",
                        "schema": {
                            "$ref": "#/definitions/Banco"
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Bancos"
                ],
                "summary": "Borra un banco",
                "description": "Borra el banco que se corresponde con el id pasado como parámetro. Se requiere contar con permiso para borrar bancos.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada con éxito"
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/clientes": {
            "get": {
                "tags": [
                    "Clientes"
                ],
                "summary": "Listar Clientes",
                "description": "El endpoint clientes devuelve información sobre todos los clientes en el sistema, incluyendo todos los detalles de los mismos. Se listan los clientes sin un orden específico. Se debe contar con permiso para ver clientes\n",
                "responses": {
                    "200": {
                        "description": "Un array de clientes",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Cliente"
                            }
                        }
                    },
                    "default": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Clientes"
                ],
                "summary": "Crear nuevo cliente",
                "description": "Crea un nuevo cliente y lo persiste en la base de datos. Se requiere contar con permiso para crear clientes.\n",
                "responses": {
                    "200": {
                        "description": "Nuevo cliente creado",
                        "schema": {
                            "$ref": "#/definitions/Cliente"
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/clientes/{id}": {
            "get": {
                "tags": [
                    "Clientes"
                ],
                "summary": "Cliente con el id proporcionado",
                "description": "Devuelve el cliente que se corresponde con el id pasado como parámetro. Se requiere contar con permiso para ver clientes.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Cliente",
                        "schema": {
                            "$ref": "#/definitions/Cliente"
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Clientes"
                ],
                "summary": "Actualiza los datos del cliente",
                "description": "Edita el cliente que se corresponde con el id pasado como parámetro. Se requiere contar con permiso para editar clientes.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "cliente",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Cliente"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Cliente con los datos actualizados",
                        "schema": {
                            "$ref": "#/definitions/Cliente"
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Clientes"
                ],
                "summary": "Borra un cliente",
                "description": "Borra el cliente que se corresponde con el id pasado como parámetro. Se requiere contar con permiso para borrar clientes.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada con éxito"
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/clientes/codigo/{codigo}": {
            "get": {
                "tags": [
                    "Clientes"
                ],
                "summary": "Cliente con el código proporcionado",
                "description": "Devuelve los clientes que se corresponden con el código pasado como parámetro. Se requiere contar con permiso para ver clientes.\n",
                "parameters": [
                    {
                        "name": "codigo",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array de clientes",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Cliente"
                            }
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/clientes/nombre/{nombre}": {
            "get": {
                "tags": [
                    "Clientes"
                ],
                "summary": "Clientes con el nombre proporcionado",
                "description": "Devuelve los clientes que contienen el string pasado como parámetro en el campo nombre del cliente. Se requiere contar con permiso para ver clientes.\n",
                "parameters": [
                    {
                        "name": "nombre",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array de artículos",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Articulo"
                            }
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/clientes/buscar/{busqueda}": {
            "get": {
                "tags": [
                    "Clientes"
                ],
                "summary": "Clientes filtrados por el parámetro de búsqueda",
                "description": "Devuelve los 10 primeros cliente que contiene el string de búsqueda en el campo nombre, codigo, cuit o dirección del cliente. Se requiere contar con permiso para ver clientes.\n",
                "parameters": [
                    {
                        "name": "busqueda",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array de clientes",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Cliente"
                            }
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/clientes/reporte": {
            "get": {
                "tags": [
                    "Clientes"
                ],
                "produces": [
                    "application/pdf"
                ],
                "summary": "Reporte con listado de clientes",
                "description": "Devuelve un reporte en pdf con un listado de los clientes en el sistema filtrados por los parámetros. Se requiere contar con permiso para ver clientes.\n",
                "parameters": [
                    {
                        "name": "vendedor",
                        "in": "query",
                        "required": false,
                        "type": "number",
                        "format": "int32"
                    },
                    {
                        "name": "zona",
                        "in": "query",
                        "required": false,
                        "type": "number",
                        "format": "int32"
                    },
                    {
                        "name": "provincia",
                        "in": "query",
                        "required": false,
                        "type": "number",
                        "format": "int32"
                    },
                    {
                        "name": "localidad",
                        "in": "query",
                        "required": false,
                        "type": "number",
                        "format": "int32"
                    },
                    {
                        "name": "activos",
                        "in": "query",
                        "required": false,
                        "type": "number",
                        "description": "1 = solo clientes activos. 0 = todos los clientes"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "PDF",
                        "schema": {
                            "type": "file"
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/comprobantes": {
            "post": {
                "tags": [
                    "Comprobantes"
                ],
                "summary": "Crear nuevo comprobante",
                "description": "Crea un nuevo comprobante y lo persiste en la base de datos. Se requiere contar con permiso para crear comprobantes.\n",
                "responses": {
                    "200": {
                        "description": "Nuevo comprobante creado",
                        "schema": {
                            "$ref": "#/definitions/Comprobante"
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/comprobantes/{id}": {
            "get": {
                "tags": [
                    "Comprobantes"
                ],
                "summary": "comprobante con el id proporcionado",
                "description": "Devuelve el comprobante que se corresponde con el id pasado como parámetro. Se requiere contar con permiso para ver comprobantes.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Comprobante",
                        "schema": {
                            "$ref": "#/definitions/Comprobante"
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Comprobantes"
                ],
                "summary": "Actualiza los datos del comprobante",
                "description": "Edita el comprobante que se corresponde con el id pasado como parámetro. Se requiere contar con permiso para editar comprobantes.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "comprobante",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Comprobante"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Comprobante con los datos actualizados",
                        "schema": {
                            "$ref": "#/definitions/Comprobante"
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Comprobantes"
                ],
                "summary": "Borra un comprobante",
                "description": "Borra el Comprobante que se corresponde con el id pasado como parámetro. Se requiere contar con permiso para borrar comprobantes.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada con éxito"
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/comprobantes/buscar": {
            "get": {
                "tags": [
                    "Comprobantes"
                ],
                "summary": "Comprobantes filtrados por los parámetros",
                "description": "Devuelve los comprobantes filtrados por el tipo de comprobante y por la fecha pasadas como parámetro. Se requiere contar con permiso para ver comprobantes.\n",
                "parameters": [
                    {
                        "name": "tipo_comprobante",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "fecha_inicio",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "fecha_fin",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array de artículos",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Articulo"
                            }
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/comprobantes/imprimir/{comprobante_id}": {
            "get": {
                "tags": [
                    "Comprobantes"
                ],
                "produces": [
                    "application/pdf"
                ],
                "summary": "Comprobante como pdf",
                "description": "Devuelve un reporte en pdf con el comprobante que corresponde al id pasado como parámetro, ya sea una factura, nota de crédito/débito o presupuesto. Se requiere contar con permiso para ver el tipo de comprobante que se desea imprimir.\n",
                "parameters": [
                    {
                        "name": "comprobante_id",
                        "in": "path",
                        "required": true,
                        "type": "number",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "PDF",
                        "schema": {
                            "type": "file"
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/comprobantes/presupuestos": {
            "get": {
                "tags": [
                    "Comprobantes"
                ],
                "summary": "Listar Presupuestos",
                "description": "El endpoint presupuestos devuelve información sobre todos los presupuestos en el sistema, incluyendo todos los detalles de los mismos. Se listan los presupuestos sin un orden específico. Se debe contar con permiso para ver presupuestos.\n",
                "responses": {
                    "200": {
                        "description": "Un array de presupuestos",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Comprobante"
                            }
                        }
                    },
                    "default": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/comprobantes/presupuestos/mail/{comprobante_id}": {
            "get": {
                "tags": [
                    "Comprobantes"
                ],
                "produces": [
                    "application/pdf"
                ],
                "summary": "Envía un mail al cliente",
                "description": "Envía un mail al cliente del presupuesto con un pdf del presupuesto cuyo id corresponde con el id pasado como parámetro. Se requiere contar con permiso para ver presupuestos.\n",
                "parameters": [
                    {
                        "name": "comprobante_id",
                        "in": "path",
                        "required": true,
                        "type": "number",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada con éxito"
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/contadores/{punto_venta}/{tipo_comprobante_id}": {
            "get": {
                "tags": [
                    "Comprobantes"
                ],
                "summary": "Contador del último comprobante generado",
                "description": "Devuelve contador que contiene el número del último comprobante generado de ese tipo para ese punto de venta.\n",
                "parameters": [
                    {
                        "name": "punto_venta",
                        "in": "path",
                        "required": true,
                        "type": "number",
                        "format": "int32"
                    },
                    {
                        "name": "tipo_comprobante_id",
                        "in": "path",
                        "required": true,
                        "type": "number",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contador",
                        "schema": {
                            "$ref": "#/definitions/Contador"
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/cuentasbancarias": {
            "get": {
                "tags": [
                    "Cuentas Bancarias"
                ],
                "summary": "Listar Cuentas Bancarias",
                "description": "El endpoint cuentasbancarias devuelve información sobre todas las cuentas bancarias en el sistema. Se listan las cuentas bancarias sin un orden específico. Se debe contar con permiso para ver cuentas bancarias.\n",
                "responses": {
                    "200": {
                        "description": "Un array de cuentas bancarias",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CuentaBancaria"
                            }
                        }
                    },
                    "default": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Cuentas Bancarias"
                ],
                "summary": "Crear nueva cuentabancaria",
                "description": "Crea una nueva cuenta bancaria y la persiste en la base de datos. Se requiere contar con permiso para crear cuentas bancarias.\n",
                "responses": {
                    "200": {
                        "description": "Nueva cuenta bancaria creada",
                        "schema": {
                            "$ref": "#/definitions/CuentaBancaria"
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/cuentasbancarias/{id}": {
            "get": {
                "tags": [
                    "Cuentas Bancarias"
                ],
                "summary": "Cuenta Bancaria con el id proporcionado",
                "description": "Devuelve la cuenta bancaria que se corresponde con el id pasado como parámetro. Se requiere contar con permiso para ver cuentas bancarias.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Cuenta Bancaria",
                        "schema": {
                            "$ref": "#/definitions/CuentaBancaria"
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Cuentas Bancarias"
                ],
                "summary": "Actualiza los datos de la cuenta bancaria",
                "description": "Edita la cuenta bancaria que se corresponde con el id pasado como parámetro. Se requiere contar con permiso para editar cuentas bancarias.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "cuentabancaria",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CuentaBancaria"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Cuenta Bancaria con los datos actualizados",
                        "schema": {
                            "$ref": "#/definitions/CuentaBancaria"
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Cuentas Bancarias"
                ],
                "summary": "Borra una cuenta bancaria",
                "description": "Borra la cuenta bancaria que se corresponde con el id pasado como parámetro. Se requiere contar con permiso para borrar cuentas bancarias.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada con éxito"
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/proveedores/cuentacorriente": {
            "get": {
                "tags": [
                    "Cuenta Corriente Proveedor"
                ],
                "summary": "Cuenta Corriente del proveedor",
                "description": "Devuelve el detalle de la Cuenta Corriente del proveedor cuya id corresponde con la id pasada como parámetro, y entre las fechas de inicio y fin también pasadas como parámetros. Se requiere contar con permiso para ver Cuenta Corriente.\n",
                "parameters": [
                    {
                        "name": "proveedor_id",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "fecha_inicio",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "fecha_fin",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CuentaCorrienteProveedor"
                            }
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/proveedores/cuentacorriente/reporte": {
            "get": {
                "tags": [
                    "Cuenta Corriente Proveedor"
                ],
                "summary": "Reporte de Cuenta Corriente del proveedor",
                "description": "Devuelve un pdf con el detalle de la Cuenta Corriente del proveedor cuya id corresponde con la id pasada como parámetro, y entre las fechas de inicio y fin también pasadas como parámetros. Se requiere contar con permiso para ver Cuenta Corriente de proveedores.\n",
                "parameters": [
                    {
                        "name": "proveedor_id",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "fecha_inicio",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "fecha_fin",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "PDF",
                        "schema": {
                            "type": "file"
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/cuentacorriente/buscar": {
            "get": {
                "tags": [
                    "Cuenta Corriente Cliente"
                ],
                "summary": "Cuenta Corriente del cliente",
                "description": "Devuelve el detalle de la Cuenta Corriente del cliente cuya id corresponde con la id pasada como parámetro entre las fechas de inicio y fin también pasadas como parámetros. Se requiere contar con permiso para ver Cuenta Corriente.\n",
                "parameters": [
                    {
                        "name": "cliente_id",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "fecha_inicio",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "fecha_fin",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CuentaCorrienteCliente"
                            }
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/cuentacorriente/reporte": {
            "get": {
                "tags": [
                    "Cuenta Corriente Cliente"
                ],
                "summary": "Reporte de Cuenta Corriente del cliente",
                "description": "Devuelve un pdf con el detalle de la Cuenta Corriente del cliente cuya id corresponde con la id pasada como parámetro entre las fechas de inicio y fin también pasadas como parámetros. Se requiere contar con permiso para ver Cuenta Corriente de clientes.\n",
                "parameters": [
                    {
                        "name": "cliente_id",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "fecha_inicio",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "fecha_fin",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "PDF",
                        "schema": {
                            "type": "file"
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/listaprecios": {
            "get": {
                "tags": [
                    "Lista de Precios"
                ],
                "summary": "Devuelve todas las listas de precios",
                "description": "El endpoint listaprecios devuelve información sobre todas las listas de precios en el sistema, incluyendo todos los items de las mismas. Se listan las listas de precios sin un orden específico. Se debe contar con permiso para ver listas de precios.\n",
                "responses": {
                    "200": {
                        "description": "Un array de listas de precios",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ListaPrecios"
                            }
                        }
                    },
                    "default": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Lista de Precios"
                ],
                "summary": "Crear nueva lista de precios",
                "description": "Crea una nueva lista de precios y la persiste en la base de datos. Se requiere contar con permiso para crear listas de precios.\n",
                "responses": {
                    "200": {
                        "description": "Nueva lista de precios creada",
                        "schema": {
                            "$ref": "#/definitions/ListaPrecios"
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/listaprecios/{id}": {
            "get": {
                "tags": [
                    "Lista de Precios"
                ],
                "summary": "Lista de precios con el id proporcionado",
                "description": "Devuelve la lista de precios que se corresponde con el id pasado como parámetro. Se requiere contar con permiso para ver listas de precios.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de precios",
                        "schema": {
                            "$ref": "#/definitions/ListaPrecios"
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Lista de Precios"
                ],
                "summary": "Actualiza los datos de la lista de precios",
                "description": "Edita la lista de precios que se corresponde con el id pasado como parámetro. Se requiere contar con permiso para editar listas de precios.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "articulo",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ListaPrecios"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de precios con los datos actualizados",
                        "schema": {
                            "$ref": "#/definitions/ListaPrecios"
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Lista de Precios"
                ],
                "summary": "Borra una lista de precios",
                "description": "Borra la lista de precios que se corresponde con el id pasado como parámetro. Se requiere contar con permiso para borrar listas de precios.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada con éxito"
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/listaprecios/importar": {
            "post": {
                "tags": [
                    "Lista de Precios"
                ],
                "summary": "Lista de precios con el id proporcionado",
                "description": "Importación y actualización de precios en base a un archivo Excel.. Se requiere contar con permiso para editar listas de precios.\n",
                "parameters": [
                    {
                        "name": "file",
                        "in": "formData",
                        "required": true,
                        "type": "file"
                    },
                    {
                        "name": "actualizarDescripcion",
                        "in": "formData",
                        "required": true,
                        "type": "boolean"
                    },
                    {
                        "name": "actualizarPrecioCosto",
                        "in": "formData",
                        "required": true,
                        "type": "boolean"
                    },
                    {
                        "name": "actualizarPrecioVenta",
                        "in": "formData",
                        "required": true,
                        "type": "boolean"
                    },
                    {
                        "name": "campoCodigoAUtilizar",
                        "in": "formData",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "codigo",
                            "codigo_fabrica",
                            "codigo_auxiliar"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de artículos no encontrados",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Articulo"
                            }
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/provincias": {
            "get": {
                "tags": [
                    "Provincias"
                ],
                "summary": "Lista las provincias",
                "description": "El endpoint provincias devuelve información sobre todas las provincias. Se listan las provincias sin un orden específico.\n",
                "responses": {
                    "200": {
                        "description": "Un array de provincias",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Provincia"
                            }
                        }
                    },
                    "default": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/provincias/{id}": {
            "get": {
                "tags": [
                    "Provincias"
                ],
                "summary": "Provincia con el id proporcionado",
                "description": "Devuelve la provincia que se corresponde con el id pasado como parámetro, junto con todas sus localidades.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Provincia",
                        "schema": {
                            "$ref": "#/definitions/Provincia"
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/localidades/{id}": {
            "get": {
                "tags": [
                    "Localidades"
                ],
                "summary": "Localidad con el id proporcionado",
                "description": "Devuelve la localidad que se corresponde con el id pasado como parámetro.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Localidad",
                        "schema": {
                            "$ref": "#/definitions/Localidad"
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/marcas": {
            "get": {
                "tags": [
                    "Marcas"
                ],
                "summary": "Listar Marcas",
                "description": "El endpoint marcas devuelve información sobre todos las marcas en el sistema. Se listan las marcas sin un orden específico. Se debe contar con permiso para ver marcas.\n",
                "responses": {
                    "200": {
                        "description": "Un array de marcas",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Marca"
                            }
                        }
                    },
                    "default": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Marcas"
                ],
                "summary": "Crear nueva marca",
                "description": "Crea una nueva marca y la persiste en la base de datos. Se requiere contar con permiso para crear marcas.\n",
                "responses": {
                    "200": {
                        "description": "Nueva marca creada",
                        "schema": {
                            "$ref": "#/definitions/Marca"
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/marcas/{id}": {
            "get": {
                "tags": [
                    "Marcas"
                ],
                "summary": "Marca con el id proporcionado",
                "description": "Devuelve la marca que se corresponde con el id pasado como parámetro. Se requiere contar con permiso para ver marcas.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Marca",
                        "schema": {
                            "$ref": "#/definitions/Marca"
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Marcas"
                ],
                "summary": "Actualiza los datos de la marca",
                "description": "Edita la marca que se corresponde con el id pasado como parámetro. Se requiere contar con permiso para editar marcas.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "marca",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Marca"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Marca con los datos actualizados",
                        "schema": {
                            "$ref": "#/definitions/Marca"
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Marcas"
                ],
                "summary": "Borra una marca",
                "description": "Borra la marca que se corresponde con el id pasado como parámetro. Se requiere contar con permiso para borrar marcas.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada con éxito"
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/marcas/codigo/{codigo}": {
            "get": {
                "tags": [
                    "Marcas"
                ],
                "summary": "Marca con el código proporcionado",
                "description": "Devuelve la marca que se corresponde con el código pasado como parámetro. Se requiere contar con permiso para ver marcas.\n",
                "parameters": [
                    {
                        "name": "codigo",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Marca",
                        "schema": {
                            "$ref": "#/definitions/Marca"
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/reginfoventas/comprobantes": {
            "get": {
                "tags": [
                    "Regimen de informacion de ventas"
                ],
                "summary": "Cuenta corriente del cliente",
                "description": "Devuelve un archivo de texto de comprobantes del regimen de informacion de ventas correspondientes al periodo pasado como parametro.\n",
                "parameters": [
                    {
                        "name": "mes",
                        "in": "query",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "año",
                        "in": "query",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "TXT",
                        "schema": {
                            "type": "file"
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/reginfoventas/alicuotas": {
            "get": {
                "tags": [
                    "Regimen de informacion de ventas"
                ],
                "summary": "Cuenta corriente del cliente",
                "description": "Devuelve un archivo de texto de alicuotas del regimen de informacion de ventas correspondientes al periodo pasado como parametro.\n",
                "parameters": [
                    {
                        "name": "mes",
                        "in": "query",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "año",
                        "in": "query",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "TXT",
                        "schema": {
                            "type": "file"
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/resumenventas": {
            "get": {
                "tags": [
                    "Resumen de ventas"
                ],
                "produces": [
                    "application/pdf"
                ],
                "summary": "Reporte con resumen de ventas",
                "description": "Devuelve un reporte en pdf con un reporte con el tipo especificado como parámetro, con la información de los comprobantes generados entre las fechas solicitadas.\n",
                "parameters": [
                    {
                        "name": "tipo",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "fecha, tipo, resumen, jurisdiccion"
                    },
                    {
                        "name": "fecha_inicio",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "fecha_fin",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "codigos",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "csv de los codigos de tipos de comprobantes"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "PDF",
                        "schema": {
                            "type": "file"
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rubros": {
            "get": {
                "tags": [
                    "Rubros"
                ],
                "summary": "Listar Rubros",
                "description": "El endpoint rubros devuelve información sobre todos los rubros en el sistema. Se listan los rubros sin un orden específico. Se debe contar con permiso para ver rubros.\n",
                "responses": {
                    "200": {
                        "description": "Un array de rubros",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Rubro"
                            }
                        }
                    },
                    "default": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Rubros"
                ],
                "summary": "Crear nuevo rubro",
                "description": "Crea un nuevo rubro y lo persiste en la base de datos. Se requiere contar con permiso para crear rubros.\n",
                "responses": {
                    "200": {
                        "description": "Nuevo rubro creado",
                        "schema": {
                            "$ref": "#/definitions/Rubro"
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rubros/{id}": {
            "get": {
                "tags": [
                    "Rubros"
                ],
                "summary": "Rubro con el id proporcionado",
                "description": "Devuelve el rubro que se corresponde con el id pasado como parámetro. Se requiere contar con permiso para ver rubros.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Rubro",
                        "schema": {
                            "$ref": "#/definitions/Rubro"
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Rubros"
                ],
                "summary": "Actualiza los datos del rubro",
                "description": "Edita el rubro que se corresponde con el id pasado como parámetro. Se requiere contar con permiso para editar rubros.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "rubro",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Rubro"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Rubro con los datos actualizados",
                        "schema": {
                            "$ref": "#/definitions/Rubro"
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Rubros"
                ],
                "summary": "Borra un rubro",
                "description": "Borra el rubro que se corresponde con el id pasado como parámetro. Se requiere contar con permiso para borrar rubros.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada con éxito"
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/rubros/codigo/{codigo}": {
            "get": {
                "tags": [
                    "Rubros"
                ],
                "summary": "Rubro con el código proporcionado",
                "description": "Devuelve el rubro que se corresponde con el código pasado como parámetro. Se requiere contar con permiso para ver rubros.\n",
                "parameters": [
                    {
                        "name": "codigo",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Rubro",
                        "schema": {
                            "$ref": "#/definitions/Rubro"
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/subrubros": {
            "get": {
                "tags": [
                    "Subrubros"
                ],
                "summary": "Listar Subrubros",
                "description": "El endpoint subrubros devuelve información sobre todos los subrubros en el sistema. Se listan los subrubros sin un orden específico. Se debe contar con permiso para ver subrubros.\n",
                "responses": {
                    "200": {
                        "description": "Un array de subrubros",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Subrubro"
                            }
                        }
                    },
                    "default": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Subrubros"
                ],
                "summary": "Crear nuevo subrubro",
                "description": "Crea un nuevo subrubro y lo persiste en la base de datos. Se requiere contar con permiso para crear subrubros.\n",
                "responses": {
                    "200": {
                        "description": "Nuevo subrubro creado",
                        "schema": {
                            "$ref": "#/definitions/Subrubro"
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/subrubros/{id}": {
            "get": {
                "tags": [
                    "Subrubros"
                ],
                "summary": "Subrubro con el id proporcionado",
                "description": "Devuelve el subrubro que se corresponde con el id pasado como parámetro. Se requiere contar con permiso para ver subrubros.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Subrubro",
                        "schema": {
                            "$ref": "#/definitions/Subrubro"
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Subrubros"
                ],
                "summary": "Actualiza los datos del subrubro",
                "description": "Edita el subrubro que se corresponde con el id pasado como parámetro. Se requiere contar con permiso para editar subrubros.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "subrubro",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Subrubro"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Subrubro con los datos actualizados",
                        "schema": {
                            "$ref": "#/definitions/Subrubro"
                        }
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Subrubros"
                ],
                "summary": "Borra un subrubro",
                "description": "Borra el subrubro que se corresponde con el id pasado como parámetro. Se requiere contar con permiso para borrar subrubros.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación realizada con éxito"
                    },
                    "500": {
                        "description": "Error inesperado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/subrubros/codigo/{codigo}": {
            "get": {
                "tags": [
                    "Subrubros"
                ],
                "summary": "Subrubro con el código proporcionado",
                "description": "Devuelve el subrubro que se corresponde con el código pasado como parámetro. Se requiere contar con permiso para ver subrubros.\n",
                "parameters": [
                    {
                        "name": "codigo",
                        "in": "path",
                        "required": true,
                        "type": "integer",
[...]
