swagger: '2.0'
info:
  title: Hermes API
  description: API del Sistema de Gestión Comercial Hermes
  version: 1.0.0
host: hermes.api
schemes:
  - http
basePath: /api
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  ApiKeyAuth:
    description: Token de acceso JWT. Prefijo = Bearer
    type: apiKey
    in: header
    name: Authorization
security:
  - ApiKeyAuth: []
tags:
  - name: Autenticacion
  - name: Articulos
  - name: Bancos
  - name: Cheques de Terceros
  - name: Clientes
  - name: Cobros
  - name: Composición de Saldos
  - name: Comprobantes
  - name: Comprobantes Compra
  - name: Cuentas Bancarias
  - name: Cuenta Corriente Cliente
  - name: Cuenta Corriente Proveedor
  - name: Depositos
  - name: Libro Iva
  - name: Lista de Precios
  - name: Localidades
  - name: Marcas
  - name: Medios de pago
  - name: Ordenes de pago
  - name: Parametros
  - name: Periodos Fiscales
  - name: Proveedores
  - name: Provincias
  - name: Regimen de informacion de ventas
  - name: Resumen de ventas
  - name: Rubros
  - name: Subrubros
  - name: Tarjetas
  - name: Tipo Categoria Clientes
  - name: Tipo Comprobantes
  - name: Tipo Retenciones
  - name: Tipos de Tarjeta
  - name: Usuarios
  - name: Zonas
paths:
  /login:
    post:
      tags:
        - Autenticacion
      security: []
      summary: Inicio de sesión user+password
      description: >
        El endpoint login es utilizado para el inicio de sesión de los usuarios 
        con su username, contraseña y empresa. La respuesta devuelve un token
        válido por 60 mins, que es requerido en las llamadas a la API, además
        devuelve la información del usuario. El token puede ser refrescado
        durante un período de 2 semanas siempre y cuando no haya expirado y no
        haya sido invalidado.
      parameters:
        - name: user
          in: body
          description: 'Usuario, constraseña y empresa del usuario a autenticar'
          required: true
          schema:
            type: object
            properties:
              username:
                type: string
                description: username del usuario a autenticar
              password:
                type: string
                format: password
                description: contraseña del usuario a autenticar
              tenant:
                type: string
                description: nombre de la empresa del usuario a autenticar
      responses:
        '200':
          description: Operación exitosa
          schema:
            type: object
            properties:
              token:
                type: string
                description: >-
                  token necesario a enviar en las llamadas a la API mediante el
                  header Authorization, con 'Bearer ' + token
              user:
                $ref: '#/definitions/Usuario'
        '401':
          description: Usuario o contraseña inválidos
        '500':
          description: Error del servidor
  /refreshToken:
    post:
      tags:
        - Autenticacion
      summary: Refrescar token
      description: >
        El endpoint refreshToken es utilizado para refrescar el token,
        aumentando su periodo de validez. El token que se usó para llamar al
        método será invalidado, con un período de gracia de 30 segundos. La
        respuesta devuelve un token válido por 60 mins. Se puede refrescar el
        token mientras el período de refresco de 2 semanas del token original no
        haya vencido y el token sea válido.
      responses:
        '200':
          description: Operación exitosa
          schema:
            type: object
            properties:
              token:
                type: string
                description: token
        default:
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /logout:
    post:
      tags:
        - Autenticacion
      summary: Invalidar token
      description: >
        El endpoint logout es utilizado para invalidar el token, haciendo que se
        denieguen las siguientes peticiones que se realizen con el mismo, con un
        periodo de gracia de 30 segundos. Se requiere que el token sea válido
        antes de anularlo.
      responses:
        '200':
          description: Operación exitosa
          schema:
            type: string
        default:
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /password/forgot:
    post:
      tags:
        - Usuarios
      summary: Enviar código de recuperación de contraseña
      description: >
        El endpoint es utilizado para enviar un código necesario para
        reestablecer la contraseña del usuario correspondiente al email y
        empresa pasados como parámetro. El email debe pertenecer a un usuario
        registrado en el sistema en esa empresa.
      parameters:
        - name: data
          in: body
          required: true
          schema:
            type: object
            properties:
              email:
                description: email del usuario
                type: string
              tenant:
                description: empresa del usuario
                type: string
      responses:
        '200':
          description: Operación exitosa
          schema:
            type: string
        '400':
          description: Error en el email recibido
          schema:
            type: string
        default:
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /password/reset:
    post:
      tags:
        - Usuarios
      summary: Establecer una nueva contraseña
      description: >
        El endpoint es utilizado para reestablecer la contraseña del usuario. Se
        debe proveer el token recibido por mail, el email, la nueva contraseña y
        la empresa.
      parameters:
        - name: data
          in: body
          required: true
          schema:
            type: object
            properties:
              token:
                description: codigo recibido por mail para la operación
                type: string
              email:
                description: email del usuario a reestablecer la contraseña
                type: string
              password:
                description: nueva contraseña del usuario
                type: string
              tenant:
                description: empresa del usuario
                type: string
      responses:
        '200':
          description: Operación exitosa
          schema:
            type: string
        '400':
          description: Error en el email recibido
          schema:
            type: string
        default:
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /articulos:
    get:
      tags:
        - Articulos
      summary: Listar Artículos
      description: >
        El endpoint articulos devuelve información sobre todos los artículos en
        el sistema, incluyendo todos los detalles de los mismos. Se listan los
        artículos sin un orden específico. Se debe contar con permiso para ver
        artículos
      responses:
        '200':
          description: Un array de articulos
          schema:
            type: array
            items:
              $ref: '#/definitions/Articulo'
        default:
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    post:
      tags:
        - Articulos
      summary: Crear nuevo artículo
      description: >
        Crea un nuevo artículo y lo persiste en la base de datos. Se requiere
        contar con permiso para crear artículos.
      responses:
        '200':
          description: Nuevo artículo creado
          schema:
            $ref: '#/definitions/Articulo'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  '/articulos/{id}':
    get:
      tags:
        - Articulos
      summary: Artículo con el id proporcionado
      description: >
        Devuelve el artículo que se corresponde con el id pasado como parámetro.
        Se requiere contar con permiso para ver artículos.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Artículo
          schema:
            $ref: '#/definitions/Articulo'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    put:
      tags:
        - Articulos
      summary: Actualiza los datos del artículo
      description: >
        Edita el artículo que se corresponde con el id pasado como parámetro. Se
        requiere contar con permiso para editar artículos.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: articulo
          in: body
          required: true
          schema:
            $ref: '#/definitions/Articulo'
      responses:
        '200':
          description: Artículo con los datos actualizados
          schema:
            $ref: '#/definitions/Articulo'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    delete:
      tags:
        - Articulos
      summary: Borra un artículo
      description: >
        Borra el artículo que se corresponde con el id pasado como parámetro. Se
        requiere contar con permiso para borrar artículos.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Operación realizada con éxito
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  '/articulos/codigo/{codigo}':
    get:
      tags:
        - Articulos
      summary: Artículo con el código proporcionado
      description: >
        Devuelve el artículo que se corresponde con el código pasado como
        parámetro. Se requiere contar con permiso para ver artículos.
      parameters:
        - name: codigo
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Artículo
          schema:
            $ref: '#/definitions/Articulo'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  '/articulos/nombre/{nombre}':
    get:
      tags:
        - Articulos
      summary: Artículos con el nombre proporcionado
      description: >
        Devuelve los artículos que contienen el string pasado como parámetro en
        el campo nombre del artículo. Se requiere contar con permiso para ver
        artículos.
      parameters:
        - name: nombre
          in: path
          required: true
          type: string
      responses:
        '200':
          description: Array de artículos
          schema:
            type: array
            items:
              $ref: '#/definitions/Articulo'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /articulos/buscar:
    get:
      tags:
        - Articulos
      summary: Artículos filtrados por los parámetros
      description: >
        Devuelve los 10 primeros artículos que contienen el string de búsqueda
        en el campo nombre, codigo, rubro o subrubro del artículo. Además se
        filtra por marca, rubro y subrubro asociados. Se requiere contar con
        permiso para ver artículos.
      parameters:
        - name: marca
          in: query
          required: false
          type: string
        - name: rubro
          in: query
          required: false
          type: string
        - name: subrubro
          in: query
          required: false
          type: string
        - name: busqueda
          in: query
          required: true
          type: string
      responses:
        '200':
          description: Array de artículos
          schema:
            type: array
            items:
              $ref: '#/definitions/Articulo'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /bancos:
    get:
      tags:
        - Bancos
      summary: Listar Bancos
      description: >
        El endpoint bancos devuelve información sobre todos los bancos en el
        sistema. Se listan los bancos sin un orden específico. Se debe contar
        con permiso para ver bancos.
      responses:
        '200':
          description: Un array de bancos
          schema:
            type: array
            items:
              $ref: '#/definitions/Banco'
        default:
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    post:
      tags:
        - Bancos
      summary: Crear nuevo banco
      description: >
        Crea un nuevo banco y lo persiste en la base de datos. Se requiere
        contar con permiso para crear bancos.
      responses:
        '200':
          description: Nuevo banco creado
          schema:
            $ref: '#/definitions/Banco'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  '/bancos/{id}':
    get:
      tags:
        - Bancos
      summary: Banco con el id proporcionado
      description: >
        Devuelve el banco que se corresponde con el id pasado como parámetro. Se
        requiere contar con permiso para ver bancos.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Banco
          schema:
            $ref: '#/definitions/Banco'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    put:
      tags:
        - Bancos
      summary: Actualiza los datos del banco
      description: >
        Edita el banco que se corresponde con el id pasado como parámetro. Se
        requiere contar con permiso para editar bancos.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: banco
          in: body
          required: true
          schema:
            $ref: '#/definitions/Banco'
      responses:
        '200':
          description: Banco con los datos actualizados
          schema:
            $ref: '#/definitions/Banco'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    delete:
      tags:
        - Bancos
      summary: Borra un banco
      description: >
        Borra el banco que se corresponde con el id pasado como parámetro. Se
        requiere contar con permiso para borrar bancos.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Operación realizada con éxito
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /chequesterceros:
    get:
      tags:
        - Cheques
      summary: Listar Cheques
      description: >
        El endpoint chequesterceros devuelve información sobre todos los cheques
        en el sistema, incluyendo todos los detalles de los mismos. Se listan
        los cheques sin un orden específico. Se debe contar con permiso para ver
        cheques
      responses:
        '200':
          description: Un array de cheques
          schema:
            type: array
            items:
              $ref: '#/definitions/ChequeTerceros'
        default:
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    post:
      tags:
        - Cheques
      summary: Crear nuevo cheque
      description: >
        Crea un nuevo cheque y lo persiste en la base de datos. Se requiere
        contar con permiso para crear cheques.
      responses:
        '200':
          description: Nuevo cheque creado
          schema:
            $ref: '#/definitions/ChequeTerceros'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  '/cheques/{id}':
    get:
      tags:
        - Cheques
      summary: Cheque con el id proporcionado
      description: >
        Devuelve el cheque que se corresponde con el id pasado como parámetro.
        Se requiere contar con permiso para ver cheques.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Cheque
          schema:
            $ref: '#/definitions/ChequeTerceros'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    put:
      tags:
        - Cheques
      summary: Actualiza los datos del cheque
      description: >
        Edita el cheque que se corresponde con el id pasado como parámetro. Se
        requiere contar con permiso para editar cheques.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: cheque
          in: body
          required: true
          schema:
            $ref: '#/definitions/ChequeTerceros'
      responses:
        '200':
          description: Cheque con los datos actualizados
          schema:
            $ref: '#/definitions/ChequeTerceros'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    delete:
      tags:
        - Cheques
      summary: Borra un cheque
      description: >
        Borra el cheque que se corresponde con el id pasado como parámetro. Se
        requiere contar con permiso para borrar cheques.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Operación realizada con éxito
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /clientes:
    get:
      tags:
        - Clientes
      summary: Listar Clientes
      description: >
        El endpoint clientes devuelve información sobre todos los clientes en el
        sistema, incluyendo todos los detalles de los mismos. Se listan los
        clientes sin un orden específico. Se debe contar con permiso para ver
        clientes
      responses:
        '200':
          description: Un array de clientes
          schema:
            type: array
            items:
              $ref: '#/definitions/Cliente'
        default:
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    post:
      tags:
        - Clientes
      summary: Crear nuevo cliente
      description: >
        Crea un nuevo cliente y lo persiste en la base de datos. Se requiere
        contar con permiso para crear clientes.
      responses:
        '200':
          description: Nuevo cliente creado
          schema:
            $ref: '#/definitions/Cliente'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  '/clientes/{id}':
    get:
      tags:
        - Clientes
      summary: Cliente con el id proporcionado
      description: >
        Devuelve el cliente que se corresponde con el id pasado como parámetro.
        Se requiere contar con permiso para ver clientes.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Cliente
          schema:
            $ref: '#/definitions/Cliente'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    put:
      tags:
        - Clientes
      summary: Actualiza los datos del cliente
      description: >
        Edita el cliente que se corresponde con el id pasado como parámetro. Se
        requiere contar con permiso para editar clientes.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: cliente
          in: body
          required: true
          schema:
            $ref: '#/definitions/Cliente'
      responses:
        '200':
          description: Cliente con los datos actualizados
          schema:
            $ref: '#/definitions/Cliente'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    delete:
      tags:
        - Clientes
      summary: Borra un cliente
      description: >
        Borra el cliente que se corresponde con el id pasado como parámetro. Se
        requiere contar con permiso para borrar clientes.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Operación realizada con éxito
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  '/clientes/codigo/{codigo}':
    get:
      tags:
        - Clientes
      summary: Cliente con el código proporcionado
      description: >
        Devuelve los clientes que se corresponden con el código pasado como
        parámetro. Se requiere contar con permiso para ver clientes.
      parameters:
        - name: codigo
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Array de clientes
          schema:
            type: array
            items:
              $ref: '#/definitions/Cliente'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  '/clientes/nombre/{nombre}':
    get:
      tags:
        - Clientes
      summary: Clientes con el nombre proporcionado
      description: >
        Devuelve los clientes que contienen el string pasado como parámetro en
        el campo nombre del cliente. Se requiere contar con permiso para ver
        clientes.
      parameters:
        - name: nombre
          in: path
          required: true
          type: string
      responses:
        '200':
          description: Array de artículos
          schema:
            type: array
            items:
              $ref: '#/definitions/Articulo'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  '/clientes/buscar/{busqueda}':
    get:
      tags:
        - Clientes
      summary: Clientes filtrados por el parámetro de búsqueda
      description: >
        Devuelve los 10 primeros cliente que contiene el string de búsqueda en
        el campo nombre, codigo, cuit o dirección del cliente. Se requiere
        contar con permiso para ver clientes.
      parameters:
        - name: busqueda
          in: path
          required: true
          type: string
      responses:
        '200':
          description: Array de clientes
          schema:
            type: array
            items:
              $ref: '#/definitions/Cliente'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /clientes/reporte:
    get:
      tags:
        - Clientes
      produces:
        - application/pdf
      summary: Reporte con listado de clientes
      description: >
        Devuelve un reporte en pdf con un listado de los clientes en el sistema
        filtrados por los parámetros. Se requiere contar con permiso para ver
        clientes.
      parameters:
        - name: vendedor
          in: query
          required: false
          type: number
          format: int32
        - name: zona
          in: query
          required: false
          type: number
          format: int32
        - name: provincia
          in: query
          required: false
          type: number
          format: int32
        - name: localidad
          in: query
          required: false
          type: number
          format: int32
        - name: activos
          in: query
          required: false
          type: number
          description: 1 = solo clientes activos. 0 = todos los clientes
      responses:
        '200':
          description: PDF
          schema:
            type: file
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /cobros:
    post:
      tags:
        - Cobros
      summary: Crear nuevo cobro
      description: >
        Crea un nuevo cobro y lo persiste en la base de datos. Se requiere
        contar con permiso para crear cobros.
      parameters:
        - name: cobro
          in: body
          required: true
          schema:
            $ref: '#/definitions/Cobro'
      responses:
        '200':
          description: Nuevo cobro creado
          schema:
            $ref: '#/definitions/Cobro'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /cobros/{id}:
    get:
      tags:
        - Cobros
      summary: cobros con el id proporcionado
      description: >
        Devuelve el cobro que se corresponde con el id pasado como
        parámetro. Se requiere contar con permiso para ver cobros.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Cobro
          schema:
            $ref: '#/definitions/Cobro'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /cobros/comprobantes:
    get:
      tags:
        - Cobros
      summary: Comprobantes con saldo filtrados por cliente
      description: >
        Devuelve los comprobantes con saldo positivo filtrados por cliente. Se requiere contar con permiso para ver cobros.
      parameters:
        - name: cliente
          in: query
          required: true
          type: number
      responses:
        '200':
          description: Array de comprobantes
          schema:
            type: array
            items:
              $ref: '#/definitions/Comprobante'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /cobros/imprimir/{cobro_id}:
    get:
      tags:
        - Cobros
      produces:
        - application/pdf
      summary: Recibo como pdf
      description: >
        Devuelve un reporte en pdf con el cobro que corresponde al id
        pasado como parámetro. Se requiere contar con permiso para ver el tipo de
        comprobante que se desea imprimir.
      parameters:
        - name: cobro_id
          in: path
          required: true
          type: number
          format: int32
      responses:
        '200':
          description: PDF
          schema:
            type: file
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /composicionsaldo/imprimir:
    get:
      tags:
        - Composición de Saldos
      produces:
        - application/pdf
      summary: Reporte con la composición de saldos de los clientes
      description: Devuelve un reporte en pdf con la composición de saldos de los clientes filtrados por los parámetros.
      parameters:
        - name: vendedor
          in: query
          required: false
          type: number
          format: int32
        - name: zona
          in: query
          required: false
          type: number
          format: int32
        - name: cliente
          in: query
          required: false
          type: number
          format: int32
      responses:
        '200':
          description: PDF
          schema:
            type: file
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /comprobantes:
    post:
      tags:
        - Comprobantes
      summary: Crear nuevo comprobante
      description: >
        Crea un nuevo comprobante y lo persiste en la base de datos. Se requiere
        contar con permiso para crear comprobantes.
      responses:
        '200':
          description: Nuevo comprobante creado
          schema:
            $ref: '#/definitions/Comprobante'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  '/comprobantes/{id}':
    get:
      tags:
        - Comprobantes
      summary: comprobante con el id proporcionado
      description: >
        Devuelve el comprobante que se corresponde con el id pasado como
        parámetro. Se requiere contar con permiso para ver comprobantes.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Comprobante
          schema:
            $ref: '#/definitions/Comprobante'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    put:
      tags:
        - Comprobantes
      summary: Actualiza los datos del comprobante
      description: >
        Edita el comprobante que se corresponde con el id pasado como parámetro.
        Se requiere contar con permiso para editar comprobantes.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: comprobante
          in: body
          required: true
          schema:
            $ref: '#/definitions/Comprobante'
      responses:
        '200':
          description: Comprobante con los datos actualizados
          schema:
            $ref: '#/definitions/Comprobante'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    delete:
      tags:
        - Comprobantes
      summary: Borra un comprobante
      description: >
        Borra el Comprobante que se corresponde con el id pasado como parámetro.
        Se requiere contar con permiso para borrar comprobantes.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Operación realizada con éxito
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /comprobantes/buscar:
    get:
      tags:
        - Comprobantes
      summary: Comprobantes filtrados por los parámetros
      description: >
        Devuelve los comprobantes filtrados por el tipo de comprobante y por la
        fecha pasadas como parámetro. Se requiere contar con permiso para ver
        comprobantes.
      parameters:
        - name: tipo_comprobante
          in: query
          required: false
          type: string
        - name: fecha_inicio
          in: query
          required: false
          type: string
          format: date
        - name: fecha_fin
          in: query
          required: false
          type: string
          format: date
      responses:
        '200':
          description: Array de comprobantes
          schema:
            type: array
            items:
              $ref: '#/definitions/Comprobante'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  '/comprobantes/imprimir/{comprobante_id}':
    get:
      tags:
        - Comprobantes
      produces:
        - application/pdf
      summary: Comprobante como pdf
      description: >
        Devuelve un reporte en pdf con el comprobante que corresponde al id
        pasado como parámetro, ya sea una factura, nota de crédito/débito o
        presupuesto. Se requiere contar con permiso para ver el tipo de
        comprobante que se desea imprimir.
      parameters:
        - name: comprobante_id
          in: path
          required: true
          type: number
          format: int32
      responses:
        '200':
          description: PDF
          schema:
            type: file
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /comprobantes/presupuestos:
    get:
      tags:
        - Comprobantes
      summary: Listar Presupuestos
      description: >
        El endpoint presupuestos devuelve información sobre todos los
        presupuestos en el sistema, incluyendo todos los detalles de los mismos.
        Se listan los presupuestos sin un orden específico. Se debe contar con
        permiso para ver presupuestos.
      responses:
        '200':
          description: Un array de presupuestos
          schema:
            type: array
            items:
              $ref: '#/definitions/Comprobante'
        default:
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  '/comprobantes/presupuestos/mail/{comprobante_id}':
    get:
      tags:
        - Comprobantes
      produces:
        - application/pdf
      summary: Envía un mail al cliente
      description: >
        Envía un mail al cliente del presupuesto con un pdf del presupuesto cuyo
        id corresponde con el id pasado como parámetro. Se requiere contar con
        permiso para ver presupuestos.
      parameters:
        - name: comprobante_id
          in: path
          required: true
          type: number
          format: int32
      responses:
        '200':
          description: Operación realizada con éxito
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  '/contadores/{punto_venta}/{tipo_comprobante_id}':
    get:
      tags:
        - Comprobantes
      summary: Contador del último comprobante generado
      description: >
        Devuelve contador que contiene el número del último comprobante generado
        de ese tipo para ese punto de venta.
      parameters:
        - name: punto_venta
          in: path
          required: true
          type: number
          format: int32
        - name: tipo_comprobante_id
          in: path
          required: true
          type: number
          format: int32
      responses:
        '200':
          description: Contador
          schema:
            $ref: '#/definitions/Contador'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /cuentasbancarias:
    get:
      tags:
        - Cuentas Bancarias
      summary: Listar Cuentas Bancarias
      description: >
        El endpoint cuentasbancarias devuelve información sobre todas las
        cuentas bancarias en el sistema. Se listan las cuentas bancarias sin un
        orden específico. Se debe contar con permiso para ver cuentas bancarias.
      responses:
        '200':
          description: Un array de cuentas bancarias
          schema:
            type: array
            items:
              $ref: '#/definitions/CuentaBancaria'
        default:
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    post:
      tags:
        - Cuentas Bancarias
      summary: Crear nueva cuentabancaria
      description: >
        Crea una nueva cuenta bancaria y la persiste en la base de datos. Se
        requiere contar con permiso para crear cuentas bancarias.
      responses:
        '200':
          description: Nueva cuenta bancaria creada
          schema:
            $ref: '#/definitions/CuentaBancaria'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  '/cuentasbancarias/{id}':
    get:
      tags:
        - Cuentas Bancarias
      summary: Cuenta Bancaria con el id proporcionado
      description: >
        Devuelve la cuenta bancaria que se corresponde con el id pasado como
        parámetro. Se requiere contar con permiso para ver cuentas bancarias.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Cuenta Bancaria
          schema:
            $ref: '#/definitions/CuentaBancaria'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    put:
      tags:
        - Cuentas Bancarias
      summary: Actualiza los datos de la cuenta bancaria
      description: >
        Edita la cuenta bancaria que se corresponde con el id pasado como
        parámetro. Se requiere contar con permiso para editar cuentas bancarias.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: cuentabancaria
          in: body
          required: true
          schema:
            $ref: '#/definitions/CuentaBancaria'
      responses:
        '200':
          description: Cuenta Bancaria con los datos actualizados
          schema:
            $ref: '#/definitions/CuentaBancaria'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    delete:
      tags:
        - Cuentas Bancarias
      summary: Borra una cuenta bancaria
      description: >
        Borra la cuenta bancaria que se corresponde con el id pasado como
        parámetro. Se requiere contar con permiso para borrar cuentas bancarias.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Operación realizada con éxito
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /depositos:
    get:
      tags:
        - Depositos
      summary: Listar Depositos
      description: >
        El endpoint depositos devuelve información sobre todos los depositos en
        el sistema, incluyendo todos los detalles de los mismos. Se listan los
        depositos sin un orden específico. Se debe contar con permiso para ver
        depositos
      responses:
        '200':
          description: Un array de depositos
          schema:
            type: array
            items:
              $ref: '#/definitions/Deposito'
        default:
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    post:
      tags:
        - Depositos
      summary: Crear nuevo deposito
      description: >
        Crea un nuevo deposito y lo persiste en la base de datos. Se requiere
        contar con permiso para crear depositos.
      responses:
        '200':
          description: Nuevo deposito creado
          schema:
            $ref: '#/definitions/Deposito'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  '/depositos/{id}':
    get:
      tags:
        - Depositos
      summary: Deposito con el id proporcionado
      description: >
        Devuelve el deposito que se corresponde con el id pasado como parámetro.
        Se requiere contar con permiso para ver depositos.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Deposito
          schema:
            $ref: '#/definitions/Deposito'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    put:
      tags:
        - Depositos
      summary: Actualiza los datos del deposito
      description: >
        Edita el deposito que se corresponde con el id pasado como parámetro. Se
        requiere contar con permiso para editar depositos.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: deposito
          in: body
          required: true
          schema:
            $ref: '#/definitions/Deposito'
      responses:
        '200':
          description: Deposito con los datos actualizados
          schema:
            $ref: '#/definitions/Deposito'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    delete:
      tags:
        - Depositos
      summary: Borra un deposito
      description: >
        Borra el deposito que se corresponde con el id pasado como parámetro. Se
        requiere contar con permiso para borrar depositos.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Operación realizada con éxito
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /proveedores/cuentacorriente:
    get:
      tags:
        - Cuenta Corriente Proveedor
      summary: Cuenta Corriente del proveedor
      description: >
        Devuelve el detalle de la Cuenta Corriente del proveedor cuya id
        corresponde con la id pasada como parámetro, y entre las fechas de
        inicio y fin también pasadas como parámetros. Se requiere contar con
        permiso para ver Cuenta Corriente.
      parameters:
        - name: proveedor_id
          in: query
          required: true
          type: string
        - name: fecha_inicio
          in: query
          required: false
          type: string
          format: date
        - name: fecha_fin
          in: query
          required: false
          type: string
          format: date
      responses:
        '200':
          description: Array
          schema:
            type: array
            items:
              $ref: '#/definitions/CuentaCorrienteProveedor'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /proveedores/cuentacorriente/reporte:
    get:
      tags:
        - Cuenta Corriente Proveedor
      summary: Reporte de Cuenta Corriente del proveedor
      description: >
        Devuelve un pdf con el detalle de la Cuenta Corriente del proveedor cuya
        id corresponde con la id pasada como parámetro, y entre las fechas de
        inicio y fin también pasadas como parámetros. Se requiere contar con
        permiso para ver Cuenta Corriente de proveedores.
      parameters:
        - name: proveedor_id
          in: query
          required: true
          type: string
        - name: fecha_inicio
          in: query
          required: false
          type: string
          format: date
        - name: fecha_fin
          in: query
          required: false
          type: string
          format: date
      responses:
        '200':
          description: PDF
          schema:
            type: file
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /cuentacorriente/buscar:
    get:
      tags:
        - Cuenta Corriente Cliente
      summary: Cuenta Corriente del cliente
      description: >
        Devuelve el detalle de la Cuenta Corriente del cliente cuya id
        corresponde con la id pasada como parámetro entre las fechas de inicio y
        fin también pasadas como parámetros. Se requiere contar con permiso para
        ver Cuenta Corriente.
      parameters:
        - name: cliente_id
          in: query
          required: true
          type: string
        - name: fecha_inicio
          in: query
          required: false
          type: string
          format: date
        - name: fecha_fin
          in: query
          required: false
          type: string
          format: date
      responses:
        '200':
          description: Array
          schema:
            type: array
            items:
              $ref: '#/definitions/CuentaCorrienteCliente'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /cuentacorriente/reporte:
    get:
      tags:
        - Cuenta Corriente Cliente
      summary: Reporte de Cuenta Corriente del cliente
      description: >
        Devuelve un pdf con el detalle de la Cuenta Corriente del cliente cuya
        id corresponde con la id pasada como parámetro entre las fechas de
        inicio y fin también pasadas como parámetros. Se requiere contar con
        permiso para ver Cuenta Corriente de clientes.
      parameters:
        - name: cliente_id
          in: query
          required: true
          type: string
        - name: fecha_inicio
          in: query
          required: false
          type: string
          format: date
        - name: fecha_fin
          in: query
          required: false
          type: string
          format: date
      responses:
        '200':
          description: PDF
          schema:
            type: file
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /listaprecios:
    get:
      tags:
        - Lista de Precios
      summary: Devuelve todas las listas de precios
      description: >
        El endpoint listaprecios devuelve información sobre todas las listas de
        precios en el sistema, incluyendo todos los items de las mismas. Se
        listan las listas de precios sin un orden específico. Se debe contar con
        permiso para ver listas de precios.
      responses:
        '200':
          description: Un array de listas de precios
          schema:
            type: array
            items:
              $ref: '#/definitions/ListaPrecios'
        default:
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    post:
      tags:
        - Lista de Precios
      summary: Crear nueva lista de precios
      description: >
        Crea una nueva lista de precios y la persiste en la base de datos. Se
        requiere contar con permiso para crear listas de precios.
      responses:
        '200':
          description: Nueva lista de precios creada
          schema:
            $ref: '#/definitions/ListaPrecios'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  '/listaprecios/{id}':
    get:
      tags:
        - Lista de Precios
      summary: Lista de precios con el id proporcionado
      description: >
        Devuelve la lista de precios que se corresponde con el id pasado como
        parámetro. Se requiere contar con permiso para ver listas de precios.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Lista de precios
          schema:
            $ref: '#/definitions/ListaPrecios'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    put:
      tags:
        - Lista de Precios
      summary: Actualiza los datos de la lista de precios
      description: >
        Edita la lista de precios que se corresponde con el id pasado como
        parámetro. Se requiere contar con permiso para editar listas de precios.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: articulo
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListaPrecios'
      responses:
        '200':
          description: Lista de precios con los datos actualizados
          schema:
            $ref: '#/definitions/ListaPrecios'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    delete:
      tags:
        - Lista de Precios
      summary: Borra una lista de precios
      description: >
        Borra la lista de precios que se corresponde con el id pasado como
        parámetro. Se requiere contar con permiso para borrar listas de precios.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Operación realizada con éxito
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /listaprecios/importar:
    post:
      tags:
        - Lista de Precios
      summary: Lista de precios con el id proporcionado
      description: >
        Importación y actualización de precios en base a un archivo Excel.. Se
        requiere contar con permiso para editar listas de precios.
      parameters:
        - name: file
          in: formData
          required: true
          type: file
        - name: actualizarDescripcion
          in: formData
          required: true
          type: boolean
        - name: actualizarPrecioCosto
          in: formData
          required: true
          type: boolean
        - name: actualizarPrecioVenta
          in: formData
          required: true
          type: boolean
        - name: campoCodigoAUtilizar
          in: formData
          required: true
          type: string
          enum:
            - codigo
            - codigo_fabrica
            - codigo_auxiliar
      responses:
        '200':
          description: Lista de artículos no encontrados
          schema:
            type: array
            items:
              $ref: '#/definitions/Articulo'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /mediospago:
    get:
      tags:
        - Medios de pago
      summary: Lista las medios de pago
      description: >
        El endpoint mediospago devuelve información sobre todos los medios de pago.
        Se listan las provincias ordenadas por el campo orden.
      responses:
        '200':
          description: Un array de medios de pago
          schema:
            type: array
            items:
              $ref: '#/definitions/MedioPago'
        default:
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /ordenespago:
    post:
      tags:
        - Ordenes de pago
      summary: Crear nueva orden de pago
      description: >
        Crea una nueva orden de pago y la persiste en la base de datos. Se requiere
        contar con permiso para crear ordenes de pago.
      parameters:
        - name: orden_pago
          in: body
          required: true
          schema:
            $ref: '#/definitions/OrdenPago'
      responses:
        '200':
          description: Nueva orden de pago creada
          schema:
            $ref: '#/definitions/OrdenPago'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /ordenespago/{id}:
    get:
      tags:
        - Ordenes de pago
      summary: orden de pago con el id proporcionado
      description: >
        Devuelve la orden de pago que se corresponde con el id pasado como
        parámetro. Se requiere contar con permiso para ver ordenes de pago.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Orden de pago
          schema:
            $ref: '#/definitions/OrdenPago'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /ordenespago/comprobantes:
    get:
      tags:
        - Ordenes de pago
      summary: Comprobantes con saldo filtrados por proveedor
      description: >
        Devuelve los comprobantes con saldo positivo filtrados por proveedor. Se requiere contar con permiso para ver ordenes de pago.
      parameters:
        - name: proveedor
          in: query
          required: true
          type: number
      responses:
        '200':
          description: Array de comprobantes de compra
          schema:
            type: array
            items:
              $ref: '#/definitions/ComprobanteCompra'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /provincias:
    get:
      tags:
        - Provincias
      summary: Lista las provincias
      description: >
        El endpoint provincias devuelve información sobre todas las provincias.
        Se listan las provincias sin un orden específico.
      responses:
        '200':
          description: Un array de provincias
          schema:
            type: array
            items:
              $ref: '#/definitions/Provincia'
        default:
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  '/provincias/{id}':
    get:
      tags:
        - Provincias
      summary: Provincia con el id proporcionado
      description: >
        Devuelve la provincia que se corresponde con el id pasado como
        parámetro, junto con todas sus localidades.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Provincia
          schema:
            $ref: '#/definitions/Provincia'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  '/localidades/{id}':
    get:
      tags:
        - Localidades
      summary: Localidad con el id proporcionado
      description: >
        Devuelve la localidad que se corresponde con el id pasado como
        parámetro.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Localidad
          schema:
            $ref: '#/definitions/Localidad'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /marcas:
    get:
      tags:
        - Marcas
      summary: Listar Marcas
      description: >
        El endpoint marcas devuelve información sobre todos las marcas en el
        sistema. Se listan las marcas sin un orden específico. Se debe contar
        con permiso para ver marcas.
      responses:
        '200':
          description: Un array de marcas
          schema:
            type: array
            items:
              $ref: '#/definitions/Marca'
        default:
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    post:
      tags:
        - Marcas
      summary: Crear nueva marca
      description: >
        Crea una nueva marca y la persiste en la base de datos. Se requiere
        contar con permiso para crear marcas.
      responses:
        '200':
          description: Nueva marca creada
          schema:
            $ref: '#/definitions/Marca'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  '/marcas/{id}':
    get:
      tags:
        - Marcas
      summary: Marca con el id proporcionado
      description: >
        Devuelve la marca que se corresponde con el id pasado como parámetro. Se
        requiere contar con permiso para ver marcas.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Marca
          schema:
            $ref: '#/definitions/Marca'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    put:
      tags:
        - Marcas
      summary: Actualiza los datos de la marca
      description: >
        Edita la marca que se corresponde con el id pasado como parámetro. Se
        requiere contar con permiso para editar marcas.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: marca
          in: body
          required: true
          schema:
            $ref: '#/definitions/Marca'
      responses:
        '200':
          description: Marca con los datos actualizados
          schema:
            $ref: '#/definitions/Marca'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    delete:
      tags:
        - Marcas
      summary: Borra una marca
      description: >
        Borra la marca que se corresponde con el id pasado como parámetro. Se
        requiere contar con permiso para borrar marcas.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Operación realizada con éxito
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  '/marcas/codigo/{codigo}':
    get:
      tags:
        - Marcas
      summary: Marca con el código proporcionado
      description: >
        Devuelve la marca que se corresponde con el código pasado como
        parámetro. Se requiere contar con permiso para ver marcas.
      parameters:
        - name: codigo
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Marca
          schema:
            $ref: '#/definitions/Marca'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /reginfoventas/comprobantes:
    get:
      tags:
        - Regimen de informacion de ventas
      summary: Cuenta corriente del cliente
      description: >
        Devuelve un archivo de texto de comprobantes del regimen de informacion
        de ventas correspondientes al periodo pasado como parametro.
      parameters:
        - name: mes
          in: query
          required: true
          type: number
        - name: año
          in: query
          required: true
          type: number
      responses:
        '200':
          description: TXT
          schema:
            type: file
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /reginfoventas/alicuotas:
    get:
      tags:
        - Regimen de informacion de ventas
      summary: Cuenta corriente del cliente
      description: >
        Devuelve un archivo de texto de alicuotas del regimen de informacion de
        ventas correspondientes al periodo pasado como parametro.
      parameters:
        - name: mes
          in: query
          required: true
          type: number
        - name: año
          in: query
          required: true
          type: number
      responses:
        '200':
          description: TXT
          schema:
            type: file
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /resumenventas:
    get:
      tags:
        - Resumen de ventas
      produces:
        - application/pdf
      summary: Reporte con resumen de ventas
      description: >
        Devuelve un reporte en pdf con un reporte con el tipo especificado como
        parámetro, con la información de los comprobantes generados entre las
        fechas solicitadas.
      parameters:
        - name: tipo
          in: query
          required: true
          type: string
          description: 'fecha, tipo, resumen, jurisdiccion'
        - name: fecha_inicio
          in: query
          required: true
          type: string
        - name: fecha_fin
          in: query
          required: true
          type: string
        - name: codigos
          in: query
          required: true
          type: string
          description: csv de los codigos de tipos de comprobantes
      responses:
        '200':
          description: PDF
          schema:
            type: file
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /rubros:
    get:
      tags:
        - Rubros
      summary: Listar Rubros
      description: >
        El endpoint rubros devuelve información sobre todos los rubros en el
        sistema. Se listan los rubros sin un orden específico. Se debe contar
        con permiso para ver rubros.
      responses:
        '200':
          description: Un array de rubros
          schema:
            type: array
            items:
              $ref: '#/definitions/Rubro'
        default:
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    post:
      tags:
        - Rubros
      summary: Crear nuevo rubro
      description: >
        Crea un nuevo rubro y lo persiste en la base de datos. Se requiere
        contar con permiso para crear rubros.
      responses:
        '200':
          description: Nuevo rubro creado
          schema:
            $ref: '#/definitions/Rubro'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  '/rubros/{id}':
    get:
      tags:
        - Rubros
      summary: Rubro con el id proporcionado
      description: >
        Devuelve el rubro que se corresponde con el id pasado como parámetro. Se
        requiere contar con permiso para ver rubros.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Rubro
          schema:
            $ref: '#/definitions/Rubro'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    put:
      tags:
        - Rubros
      summary: Actualiza los datos del rubro
      description: >
        Edita el rubro que se corresponde con el id pasado como parámetro. Se
        requiere contar con permiso para editar rubros.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: rubro
          in: body
          required: true
          schema:
            $ref: '#/definitions/Rubro'
      responses:
        '200':
          description: Rubro con los datos actualizados
          schema:
            $ref: '#/definitions/Rubro'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    delete:
      tags:
        - Rubros
      summary: Borra un rubro
      description: >
        Borra el rubro que se corresponde con el id pasado como parámetro. Se
        requiere contar con permiso para borrar rubros.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Operación realizada con éxito
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  '/rubros/codigo/{codigo}':
    get:
      tags:
        - Rubros
      summary: Rubro con el código proporcionado
      description: >
        Devuelve el rubro que se corresponde con el código pasado como
        parámetro. Se requiere contar con permiso para ver rubros.
      parameters:
        - name: codigo
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Rubro
          schema:
            $ref: '#/definitions/Rubro'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /subrubros:
    get:
      tags:
        - Subrubros
      summary: Listar Subrubros
      description: >
        El endpoint subrubros devuelve información sobre todos los subrubros en
        el sistema. Se listan los subrubros sin un orden específico. Se debe
        contar con permiso para ver subrubros.
      responses:
        '200':
          description: Un array de subrubros
          schema:
            type: array
            items:
              $ref: '#/definitions/Subrubro'
        default:
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    post:
      tags:
        - Subrubros
      summary: Crear nuevo subrubro
      description: >
        Crea un nuevo subrubro y lo persiste en la base de datos. Se requiere
        contar con permiso para crear subrubros.
      responses:
        '200':
          description: Nuevo subrubro creado
          schema:
            $ref: '#/definitions/Subrubro'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  '/subrubros/{id}':
    get:
      tags:
        - Subrubros
      summary: Subrubro con el id proporcionado
      description: >
        Devuelve el subrubro que se corresponde con el id pasado como parámetro.
        Se requiere contar con permiso para ver subrubros.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Subrubro
          schema:
            $ref: '#/definitions/Subrubro'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    put:
      tags:
        - Subrubros
      summary: Actualiza los datos del subrubro
      description: >
        Edita el subrubro que se corresponde con el id pasado como parámetro. Se
        requiere contar con permiso para editar subrubros.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: subrubro
          in: body
          required: true
          schema:
            $ref: '#/definitions/Subrubro'
      responses:
        '200':
          description: Subrubro con los datos actualizados
          schema:
            $ref: '#/definitions/Subrubro'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    delete:
      tags:
        - Subrubros
      summary: Borra un subrubro
      description: >
        Borra el subrubro que se corresponde con el id pasado como parámetro. Se
        requiere contar con permiso para borrar subrubros.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Operación realizada con éxito
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  '/subrubros/codigo/{codigo}':
    get:
      tags:
        - Subrubros
      summary: Subrubro con el código proporcionado
      description: >
        Devuelve el subrubro que se corresponde con el código pasado como
        parámetro. Se requiere contar con permiso para ver subrubros.
      parameters:
        - name: codigo
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Subrubro
          schema:
            $ref: '#/definitions/Subrubro'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /parametros:
    get:
      tags:
        - Parametros
      summary: Listar Parámetros del sistema
      description: >
        El endpoint parametros devuelve información sobre todos los parametros
        en el sistema. Se listan los parametros sin un orden específico.
      responses:
        '200':
          description: Un array de parametros
          schema:
            type: array
            items:
              $ref: '#/definitions/Parametro'
        default:
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /tipocategoriaclientes:
    get:
      tags:
        - Tipo Categoria Clientes
      summary: Listar tipos de categoría de clientes
      description: >
        El endpoint tipocategoriaclientes devuelve información sobre todos los
        tipos de categoria de clientes en el sistema. Se listan sin un orden
        específico.
      responses:
        '200':
          description: Un array de tipocategoriaclientes
          schema:
            type: array
            items:
              $ref: '#/definitions/TipoCategoriaClientes'
        default:
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  '/tipocomprobantes/{tipo_comprobante}/{codigo}':
    get:
      tags:
        - Tipo Comprobantes
      summary: Tipo de comprobante
      description: >
        Devuelve el tipo de comprobante que se corresponde con la categoría del
        cliente pasada como parametro y segun si es factura, presupuesto, nota
        de debito o nota de credito. También se devuelve la fecha del dia
        anterior al ultimo comprobante del mismo tipo generado.
      parameters:
        - name: tipo_comprobante
          in: path
          required: true
          type: string
          enum:
            - factura
            - presupuesto
            - nota_debito
            - nota_credito
        - name: codigo
          in: path
          required: true
          type: string
          enum:
            - RI
            - CF
            - MON
      responses:
        '200':
          description: Tipo Comprobante y última fecha
          schema:
            $ref: '#/definitions/TipoComprobante'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /usuarios:
    get:
      tags:
        - Usuarios
      summary: Listar Usuarios
      description: >
        El endpoint usuarios devuelve información sobre todos los usuarios en el
        sistema. Se listan los usuarios sin un orden específico. Se debe contar
        con permiso para ver usuarios.
      responses:
        '200':
          description: Un array de usuarios
          schema:
            type: array
            items:
              $ref: '#/definitions/Usuario'
        default:
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    post:
      tags:
        - Usuarios
      summary: Crear nuevo usuario
      description: >
        Crea un nuevo usuario y lo persiste en la base de datos. Se requiere
        contar con permiso para crear usuarios.
      responses:
        '200':
          description: Nuevo usuario creado
          schema:
            $ref: '#/definitions/Usuario'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  '/usuarios/{id}':
    get:
      tags:
        - Usuarios
      summary: Usuario con el id proporcionado
      description: >
        Devuelve el usuario que se corresponde con el id pasado como parámetro.
        Se requiere contar con permiso para ver usuarios.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Usuario
          schema:
            $ref: '#/definitions/Usuario'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    put:
      tags:
        - Usuarios
      summary: Actualiza los datos del usuario
      description: >
        Edita el usuario que se corresponde con el id pasado como parámetro. Si
        no se pasa una password, se mantiene la actual. Se requiere contar con
        permiso para editar usuarios.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: usuario
          in: body
          required: true
          schema:
            $ref: '#/definitions/Usuario'
      responses:
        '200':
          description: Usuario con los datos actualizados
          schema:
            $ref: '#/definitions/Usuario'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    delete:
      tags:
        - Usuarios
      summary: Borra un usuario
      description: >
        Borra el usuario que se corresponde con el id pasado como parámetro. Se
        requiere contar con permiso para borrar usuarios.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Operación realizada con éxito
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /vendedores:
    get:
      tags:
        - Vendedores
      summary: Listar Vendedores
      description: >
        El endpoint vendedores devuelve información sobre todos los vendedores
        en el sistema. Se listan los vendedores sin un orden específico. Se debe
        contar con permiso para ver vendedores.
      responses:
        '200':
          description: Un array de vendedores
          schema:
            type: array
            items:
              $ref: '#/definitions/Vendedor'
        default:
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    post:
      tags:
        - Vendedores
      summary: Crear nuevo vendedor
      description: >
        Crea un nuevo vendedor y lo persiste en la base de datos. Se requiere
        contar con permiso para crear vendedores.
      responses:
        '200':
          description: Nuevo vendedor creado
          schema:
            $ref: '#/definitions/Vendedor'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  '/vendedores/{id}':
    get:
      tags:
        - Vendedores
      summary: Vendedor con el id proporcionado
      description: >
        Devuelve el vendedor que se corresponde con el id pasado como parámetro.
        Se requiere contar con permiso para ver vendedores.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Vendedor
          schema:
            $ref: '#/definitions/Vendedor'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    put:
      tags:
        - Vendedores
      summary: Actualiza los datos del vendedor
      description: >
        Edita el vendedor que se corresponde con el id pasado como parámetro. Se
        requiere contar con permiso para editar vendedores.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: vendedor
          in: body
          required: true
          schema:
            $ref: '#/definitions/Vendedor'
      responses:
        '200':
          description: Vendedor con los datos actualizados
          schema:
            $ref: '#/definitions/Vendedor'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    delete:
      tags:
        - Vendedores
      summary: Borra un vendedor
      description: >
        Borra el vendedor que se corresponde con el id pasado como parámetro. Se
        requiere contar con permiso para borrar vendedores.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Operación realizada con éxito
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /zonas:
    get:
      tags:
        - Zonas
      summary: Listar Zonas
      description: >
        El endpoint zonas devuelve información sobre todos las zonas en el
        sistema. Se listan las zonas sin un orden específico. Se debe contar con
        permiso para ver zonas.
      responses:
        '200':
          description: Un array de zonas
          schema:
            type: array
            items:
              $ref: '#/definitions/Zona'
        default:
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    post:
      tags:
        - Zonas
      summary: Crear nueva zona
      description: >
        Crea una nueva zona y la persiste en la base de datos. Se requiere
        contar con permiso para crear zonas.
      responses:
        '200':
          description: Nueva zona creada
          schema:
            $ref: '#/definitions/Zona'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  '/zonas/{id}':
    get:
      tags:
        - Zonas
      summary: Zona con el id proporcionado
      description: >
        Devuelve la zona que se corresponde con el id pasado como parámetro. Se
        requiere contar con permiso para ver zonas.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Zona
          schema:
            $ref: '#/definitions/Zona'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    put:
      tags:
        - Zonas
      summary: Actualiza los datos de la zona
      description: >
        Edita la zona que se corresponde con el id pasado como parámetro. Se
        requiere contar con permiso para editar zonas.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: zona
          in: body
          required: true
          schema:
            $ref: '#/definitions/Zona'
      responses:
        '200':
          description: Zona con los datos actualizados
          schema:
            $ref: '#/definitions/Zona'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    delete:
      tags:
        - Zonas
      summary: Borra una zona
      description: >
        Borra la zona que se corresponde con el id pasado como parámetro. Se
        requiere contar con permiso para borrar zonas.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Operación realizada con éxito
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /proveedores:
    get:
      tags:
        - Proveedores
      summary: Listar Proveedores
      description: >
        El endpoint de proveedores devuelve una lista con todos los proveedores
        en el sistema, incluyendo todos los detalles de los mismos. Se listan
        sin un orden específico. Se debe contar con permiso para verlos
      responses:
        '200':
          description: Un array de proveedores
          schema:
            type: array
            items:
              $ref: '#/definitions/Proveedor'
        default:
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    post:
      tags:
        - Proveedores
      summary: Crear nuevo proveedor
      description: >
        Crea un nuevo proveedor y lo persiste en la base de datos. Se requiere
        contar con los permisos necesarios para hacer dicha tarea
      responses:
        '200':
          description: Nuevo proveedor creado
          schema:
            $ref: '#/definitions/Proveedor'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  '/proveedores/{id}':
    get:
      tags:
        - Proveedores
      summary: Proveedor con el id proporcionado
      description: >
        Devuelve el proveedor que se corresponde con el id pasado como
        parámetro. Se requiere contar con permiso para ver proveedores.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Proveedor
          schema:
            $ref: '#/definitions/Proveedor'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    put:
      tags:
        - Proveedor
      summary: Actualiza los datos del proveedor
      description: >
        Edita el proveedor que se corresponde con el id pasado como parámetro.
        Se requiere contar con los permisos para editar.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: proveedor
          in: body
          required: true
          schema:
            $ref: '#/definitions/Proveedor'
      responses:
        '200':
          description: Proveedor con los datos actualizados
          schema:
            $ref: '#/definitions/Proveedor'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    delete:
      tags:
        - Proveedores
      summary: Borra un proveedor
      description: >
        Borra el proveedor que se corresponde con el id pasado como parámetro.
        Se requiere contar con el respectivo permiso para eliminar.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Operación realizada con éxito
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  '/proveedores/codigo/{cod}':
    get:
      tags:
        - Proveedores
      summary: Proveedor con el código proporcionado
      description: >
        Devuelve los proveedores que se corresponden con el código pasado como
        parámetro. Se requiere contar con permiso para ver proveedores.
      parameters:
        - name: cod
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Array de proveedores
          schema:
            type: array
            items:
              $ref: '#/definitions/Proveedor'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /periodosfiscales:
    get:
      tags:
        - Periodos Fiscales
      summary: Listar Periodos Fiscales
      description: >
        El endpoint de periodos fiscales devuelve una lista con todos los
        periodos fiscales en el sistema, incluyendo todos los detalles de los
        mismos. Se listan en orden cronologico. Se debe contar con permiso para
        verlos
      responses:
        '200':
          description: Un array de periodos fiscales
          schema:
            type: array
            items:
              $ref: '#/definitions/PeriodoFiscal'
        default:
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    post:
      tags:
        - Periodos Fiscales
      summary: Crear nuevo periodo fiscal
      description: >
        Crea un nuevo periodo fiscal y lo persiste en la base de datos. Se
        requiere contar con los permisos necesarios para hacer dicha tarea
      responses:
        '200':
          description: Nuevo periodo fiscal creado
          schema:
            $ref: '#/definitions/PeriodoFiscal'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  '/periodosfiscales/{id}':
    get:
      tags:
        - Periodos Fiscales
      summary: Periodo Fiscal con el id proporcionado
      description: >
        Devuelve el periodo fiscal que se corresponde con el id pasado como
        parámetro. Se requiere contar con permiso para ver periodos fiscales.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Periodo fiscal
          schema:
            $ref: '#/definitions/PeriodoFiscal'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    put:
      tags:
        - Periodos Fiscales
      summary: Actualiza los datos del periodo fiscal
      description: >
        Edita el periodo fiscal que se corresponde con el id pasado como
        parámetro. Se requiere contar con los permisos para editar.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: periodo fiscal
          in: body
          required: true
          schema:
            $ref: '#/definitions/PeriodoFiscal'
      responses:
        '200':
          description: Periodo fiscal con los datos actualizados
          schema:
            $ref: '#/definitions/PeriodoFiscal'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    delete:
      tags:
        - Periodos Fiscales
      summary: Borra un periodo fiscal
      description: >
        Borra el periodo fiscal que se corresponde con el id pasado como
        parámetro. Se requiere contar con el respectivo permiso para eliminar.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Operación realizada con éxito
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /tarjetas:
    get:
      tags:
        - Tarjetas
      summary: Listar Tarjetas
      description: >
        El endpoint tarjetas devuelve información sobre todas las tarjetas en el
        sistema, incluyendo todos los detalles de las mismas. Se listan las
        tarjetas sin un orden específico. Se debe contar con permiso para ver
        tarjetas
      responses:
        '200':
          description: Un array de tarjetas
          schema:
            type: array
            items:
              $ref: '#/definitions/Tarjeta'
        default:
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    post:
      tags:
        - Tarjetas
      summary: Crear nueva tarjeta
      description: >
        Crea una nueva tarjeta y la persiste en la base de datos. Se requiere
        contar con permiso para crear tarjetas.
      responses:
        '200':
          description: Nueva tarjeta creada
          schema:
            $ref: '#/definitions/Tarjeta'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  '/tarjetas/{id}':
    get:
      tags:
        - Tarjetas
      summary: Tarjeta con el id proporcionado
      description: >
        Devuelve la tarjeta que se corresponde con el id pasado como parámetro.
        Se requiere contar con permiso para ver tarjetas.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Tarjeta
          schema:
            $ref: '#/definitions/Tarjeta'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    put:
      tags:
        - Tarjetas
      summary: Actualiza los datos de la tarjeta
      description: >
        Edita la tarjeta que se corresponde con el id pasado como parámetro. Se
        requiere contar con permiso para editar tarjetas.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: tarjeta
          in: body
          required: true
          schema:
            $ref: '#/definitions/Tarjeta'
      responses:
        '200':
          description: Tarjeta con los datos actualizados
          schema:
            $ref: '#/definitions/Tarjeta'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    delete:
      tags:
        - Tarjetas
      summary: Borra una tarjeta
      description: >
        Borra la tarjeta que se corresponde con el id pasado como parámetro. Se
        requiere contar con permiso para borrar tarjetas.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Operación realizada con éxito
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /tiporetenciones:
    get:
      tags:
        - Tipo Retenciones
      summary: Listar Tipos de Retenciones
      description: >
        El endpoint de tipos de retenciones devuelve una lista con todos los
        tipos de retencion en el sistema, incluyendo todos los detalles de los
        mismos. Se listan sin un orden específico. Se debe contar con permiso
        para verlos
      responses:
        '200':
          description: Un array de tipos de retenciones
          schema:
            type: array
            items:
              $ref: '#/definitions/TipoRetencion'
        default:
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    post:
      tags:
        - Tipo Retenciones
      summary: Crear nuevo tipo de retencion
      description: >
        Crea un nuevo tipo de retencion y lo persiste en la base de datos. Se
        requiere contar con los permisos necesarios para hacer dicha tarea
      responses:
        '200':
          description: Nuevo tipo de retencion creado
          schema:
            $ref: '#/definitions/TipoRetencion'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  '/tiporetenciones/{id}':
    get:
      tags:
        - Tipo Retenciones
      summary: Tipo de Retencion con el id proporcionado
      description: >
        Devuelve el tipo de retencion que se corresponde con el id pasado como
        parámetro. Se requiere contar con permiso para ver periodos fiscales.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Tipo Retencion
          schema:
            $ref: '#/definitions/TipoRetencion'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    put:
      tags:
        - Tipo Retenciones
      summary: Actualiza los datos del tipo de retencion
      description: >
        Edita el tipo de retencion que se corresponde con el id pasado como
        parámetro. Se requiere contar con los permisos para editar.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: tipo de retencion
          in: body
          required: true
          schema:
            $ref: '#/definitions/TipoRetencion'
      responses:
        '200':
          description: Tipo de retencion con los datos actualizados
          schema:
            $ref: '#/definitions/TipoRetencion'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    delete:
      tags:
        - Tipo Retenciones
      summary: Borra un tipo de retencion
      description: >
        Borra el tipo de retencion que se corresponde con el id pasado como
        parámetro. Se requiere contar con el respectivo permiso para eliminar.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Operación realizada con éxito
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /tipostarjeta:
    get:
      tags:
        - Tipos de Tarjeta
      summary: Listar Tipos Tarjeta
      description: >
        El endpoint tipostarjeta devuelve información sobre todos los tipos de
        tarjeta en el sistema. Se listan los tipos de tarjeta sin un orden
        específico. Se debe contar con permiso para ver tipos de tarjeta.
      responses:
        '200':
          description: Un array de tipos de tarjeta
          schema:
            type: array
            items:
              $ref: '#/definitions/TipoTarjeta'
        default:
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    post:
      tags:
        - Tipos de Tarjeta
      summary: Crear nuevo tipo de tarjeta
      description: >
        Crea un nuevo tipo de tarjeta y lo persiste en la base de datos. Se
        requiere contar con permiso para crear tipos de tarjeta.
      responses:
        '200':
          description: Nuevo tipo de tarjeta creado
          schema:
            $ref: '#/definitions/TipoTarjeta'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  '/tipostarjeta/{id}':
    get:
      tags:
        - Tipos de Tarjeta
      summary: Tipo Tarjeta con el id proporcionado
      description: >
        Devuelve el tipo de tarjeta que se corresponde con el id pasado como
        parámetro. Se requiere contar con permiso para ver tipos de tarjeta.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Tipo Tarjeta
          schema:
            $ref: '#/definitions/TipoTarjeta'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    put:
      tags:
        - Tipos de Tarjeta
      summary: Actualiza los datos del tipo de tarjeta
      description: >
        Edita el tipo de tarjeta que se corresponde con el id pasado como
        parámetro. Se requiere contar con permiso para editar tipos de tarjeta.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: tipotarjeta
          in: body
          required: true
          schema:
            $ref: '#/definitions/TipoTarjeta'
      responses:
        '200':
          description: Tipo Tarjeta con los datos actualizados
          schema:
            $ref: '#/definitions/TipoTarjeta'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    delete:
      tags:
        - Tipos de Tarjeta
      summary: Borra un tipo de tarjeta
      description: >
        Borra el tipo de tarjeta que se corresponde con el id pasado como
        parámetro. Se requiere contar con permiso para borrar tipos de tarjeta.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Operación realizada con éxito
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /comprobantescompra:
    get:
      tags:
        - Comprobantes Compra
      summary: Listar Comprobantes de Compra
      description: >
        El endpoint de comprobantes de compra devuelve una lista con todos los
        comprobantes de compra en el sistema, incluyendo todos los detalles de
        los mismos. Se listan sin un orden específico. Se debe contar con
        permiso para verlos
      responses:
        '200':
          description: Un array de comprobantes de compra
          schema:
            type: array
            items:
              $ref: '#/definitions/ComprobanteCompra'
        default:
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    post:
      tags:
        - Comprobantes Compra
      summary: Crear nuevo comprobante de compra
      description: >
        Crea un nuevo comprobante de compra y lo persiste en la base de datos.
        Se requiere contar con los permisos necesarios para hacer dicha tarea
      responses:
        '200':
          description: Nuevo comprobante de compra creado
          schema:
            $ref: '#/definitions/ComprobanteCompra'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  '/comprobantescompra/{id}':
    get:
      tags:
        - Comprobantes Compra
      summary: Comprobante de Compra con el id proporcionado
      description: >
        Devuelve el comprobantes de compra que se corresponde con el id pasado
        como parámetro. Se requiere contar con permiso para ver periodos
        fiscales.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Comprobantes Compra
          schema:
            $ref: '#/definitions/ComprobanteCompra'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    put:
      tags:
        - Comprobantes Compra
      summary: Actualiza los datos del comprobante de compra
      description: >
        Edita el comprobante de compra que se corresponde con el id pasado como
        parámetro. Se requiere contar con los permisos para editar.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
        - name: comprobante de compra
          in: body
          required: true
          schema:
            $ref: '#/definitions/ComprobanteCompra'
      responses:
        '200':
          description: Comprobante de Compra con los datos actualizados
          schema:
            $ref: '#/definitions/ComprobanteCompra'
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
    delete:
      tags:
        - Comprobantes Compra
      summary: Borra un comprobante de compra
      description: >
        Borra el comprobante de compra que se corresponde con el id pasado como
        parámetro. Se requiere contar con el respectivo permiso para eliminar.
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Operación realizada con éxito
        '500':
          description: Error inesperado
          schema:
            $ref: '#/definitions/Error'
  /comprobantescompra/filtrar:
    get:
      tags:
        - Comprobantes Compra
[...]
